In [2]:
#Use the len method to print the length of the string.


x = "Hello World"
print(len(x))

11

In [7]:
#Get the first character of the string txt.


txt = "Hello World"
x = txt[0]
x

'H'

In [13]:
#Get the characters from index 2 to index 4 (llo).


txt = "Hello World"
x = txt[2:5]
x

'llo'

In [15]:
#Return the string without any whitespace at the beginning or the end.


txt = " Hello World "
x = txt.strip()
x

'Hello World'

In [19]:
#Convert the value of txt to upper case.


txt = "Hello World"
txt= txt.upper()
txt

'HELLO WORLD'

In [20]:
#Convert the value of txt to lower case.


txt = "Hello World"
txt =txt.lower()
txt

'hello world'

In [22]:
#Replace the character H with a J.


txt = "Hello World"
txt = txt.replace("H","J" )
txt

'Jello World'

In [24]:
#Insert the correct syntax to add a placeholder for the age parameter.


age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36